<div class="form-group row mb-3">
  <%= f.label :time_manual, class: "col-sm-2 col-form-label" %>

  <div class="col-sm-10">
    <%= f.text_field :time_manual, {class: "form-control"} %>
  </div>
</div>
